{{ form_start(form) }}
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        {{ form_row(form.firstName, {
            label: 'Prénom',
            label_attr: {
                class: "block mb-2 text-sm font-medium text-white"
            },
            attr: {
                placeholder: 'Jean',
                class: "border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
            }
        }) }}

        {{ form_row(form.lastName, {
            label: 'Nom',
            label_attr: {
                class: "block mb-2 text-sm font-medium text-white"
            },
            attr: {
                placeholder: 'Dupont',
                class: "border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
            }
        }) }}

        {{ form_row(form.address, {
            label: 'Adresse postale à Royan',
            label_attr: {
                class: "block mb-2 text-sm font-medium text-white"
            },
            attr: {
                placeholder: 'Plage de pontaillac, 17200 Royan',
                class: "border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
            }
        }) }}

        {{ form_row(form.phoneNumber, {
            label: 'Numéro de téléphone',
            label_attr: {
                class: "block mb-2 text-sm font-medium text-white"
            },
            attr: {
                placeholder: '+ XX X XX XX XX XX',
                class: "border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
            }
        }) }}
    </div>
    <div class="mb-6">

        {{ form_row(form.mail, {
            label: 'Adresse mail',
            label_attr: {
                class: "block mb-2 text-sm font-medium text-white"
            },
            attr: {
                placeholder: 'exemple@clubdeplageroyan.fr',
                class: "border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500",
            }
        }) }}

    </div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">

        {{ form_row(form.role, {
            label: 'Rôle',
            label_attr: {
                class: "block mb-2 text-sm font-medium text-white"
            },
            attr: {
                class: "border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500",
            },
        }) }}

        {{ form_row(form.lessonInitialAmount, {
            label: 'Nombre de leçons initiales',
            label_attr: {
                class: "block mb-2 text-sm font-medium text-white"
            },
            attr: {
                class: "border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500",
            },
        }) }}

    </div>
    <div class="space-y-6">

        {{ form_row(form.password, {
            label: 'Mot de passe',
            label_attr: {
                class: "block mb-2 text-sm font-medium text-white"
            },
            attr: {
                placeholder: 'Mot de passe',
                class: "border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
            }
        }) }}

        {{ form_row(form.passwordConfirm, {
            label: 'Confirmation du mot de passe',
            label_attr: {
                class: "block mb-2 text-sm font-medium text-white"
            },
            attr: {
                placeholder: 'Mot de passe',
                class: "border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
            }
        }) }}

    </div>

    <button type="submit" class="mt-6 w-full px-4 py-2 text-sm font-medium text-white bg-blue-500 border border-transparent rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-blue-500">
        {{ button_label|default('Confirmer') }}
    </button>
{{ form_end(form) }}

<span class="mt-6 block w-full text-center text-sm text-gray-400">
        Pour revenir en arrière, <a href="{{ path('app_admin_users_index') }}" class="font-medium text-blue-400 hover:text-blue-300 hover:underline">cliquez ici</a>
</span>