{% extends 'base.html.twig' %}

{% block title %}SwimmingPack{% endblock %}

{% block body %}
    <h1>SwimmingPack</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>LessonsAmount</th>
                <td>{{ swimming_pack.lessonsAmount }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ swimming_pack.price }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ swimming_pack.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_swimming_pack_index') }}">back to list</a>

    <a href="{{ path('app_admin_swimming_pack_edit', {'id': swimming_pack.id}) }}">edit</a>

    {{ include('admin/swimming_pack/_delete_form.html.twig') }}
{% endblock %}
