{% extends 'base.html.twig' %}

{% block title %}
        Mon compte
{% endblock %}

{% block body %}
    <div class="p-4 space-y-8 bg-gray-900 min-h-screen flex flex-col items-center">

        <div class="w-full max-w-sm border rounded-lg shadow bg-gray-800 border-gray-700">
            <div class="flex justify-end px-4 pt-4">
                <button id="dropdownButton" data-dropdown-toggle="dropdown" class="inline-block text-gray-400 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
                    <span class="sr-only">Ouvrir le menu</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path></svg>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdown" class="z-10 hidden text-base list-none divide-y divide-gray-100 rounded-lg shadow w-55 bg-gray-700">
                    <ul class="py-2" aria-labelledby="dropdownButton">
                        <li>
                            <a href="{{ path('app_edit') }}" class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Modifier mon compte</a>
                        </li>
                        {% if is_granted('ROLE_EDUCATOR') %}
                            <li>
                                <a href="{{ path('app_educator_availability') }}" class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Changer mes disponibilités</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('app_logout') }}" class="block px-4 py-2 text-sm hover:bg-gray-600 text-red-600">Déconnexion</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/assets/images/logo.png" alt="logo">
                <h5 class="mb-1 text-xl font-medium text-white">{{ user.getFullName() }}</h5>
                {% if user.getStringRoles() == 'ROLE_USER' %}
                    <span class="text-sm text-gray-400">Rôle : Parent</span>
                {% elseif user.getStringRoles() == 'ROLE_ADMIN' %}
                    <span class="text-sm text-gray-400">Rôle : Administrateur</span>
                {% elseif user.getStringRoles() == 'ROLE_EDUCATOR' %}
                    <span class="text-sm text-gray-400">Rôle : Moniteur</span>
                {% endif %}

                {% if (is_granted('ROLE_EDUCATOR')) and (educatorAvailability) %}
                    <span class="text-sm text-gray-300 mt-1.5">Disponibilité du {{ educatorAvailability.getAvailableDateFrom()|date('d/m/Y') }} au {{ educatorAvailability.getAvailableDateTo()|date('d/m/Y') }} </span>
                {% endif %}

                <span class="text-sm text-gray-400 mt-1.5">Nombre de leçons disponibles : {{ user.getSwimmingPackBalance().getCalculateRemainingAmount() }}</span>
                <div class="flex mt-4 space-x-3 md:mt-6">
                    <a href="{{ path('app_add_child') }}" class="inline-flex items-center rounded px-4 py-2 text-sm font-medium text-center text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Ajouter un enfant</a>
                    <a href="#" class="border border-gray-500 inline-flex items-center rounded px-4 py-2 text-sm font-medium text-center text-gray-900 bg-gray-800 text-white border-gray-600 hover:bg-gray-700 hover:border-gray-700 focus:ring-gray-700">Gérer mes réservations</a>
                </div>
                {% if (is_granted('ROLE_ADMIN')) %}
                    <button class="mt-2 bg-red-500 hover:bg-red-700 text-white font-medium py-2 px-4 rounded">
                        <a href="{{ path('app_admin_index') }}">Partie Admin</a>
                    </button>
                {% endif %}
            </div>
        </div>

        <div class="w-full grid grid-cols-2">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
                <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Mes enfants</h2>
                    {% if childs|length == 0 %}
                        <p class="text-xl text-gray-400">Vous n'avez pas encore ajouté d'enfant ? <a href="{{ path('app_add_child') }}" class="text-blue-500 hover:underline">Ajouter un enfant</a></p>
                    {% endif %}
                </div>

                <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
                    {% for child in childs %}
                        <div class="items-center rounded-lg shadow sm:flex bg-gray-800 border-gray-700">
                            <div class="p-5">
                                <h3 class="text-xl font-bold tracking-tight text-white">
                                    <a href="#">{{ child.getFullName() }}</a>
                                </h3>
                                <span class="text-gray-400">Age: {{ child.getAge() }} ans</span>
                                <div class="mt-2">
                                    <button class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded">
                                        <a href="{{ path('app_edit_child', {'id': child.getId()}) }}">Modifer</a>
                                    </button>
                                    <button class="bg-red-500 hover:bg-red-700 text-white font-medium py-2 px-4 rounded">
                                        <a href="{{ path('app_delete_child', {'id': child.getId()}) }}">Supprimer</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white mb-8 lg:mb-16">Historique des commandes</h2>
                    {% if user.getOrders()|length == 0 %}
                        <p class="text-xl text-gray-400">Vous n'avez pas encore acheté de forfait ? <a href="{{ path('app_prices') }}" class="text-blue-500 hover:underline">Acheter un forfait</a></p>
                    {% else %}
                        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                            <table class="w-full text-sm text-left text-gray-400">
                                <thead class="text-xs uppercase bg-gray-700 text-gray-400 block">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Carte bleue
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Date
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Montant
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Statut
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="block overflow-y-scroll max-h-64">
                                {% for order in user.getOrders() %}
                                    <tr class="border-b bg-gray-900 border-gray-700">
                                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
                                            ...{{ order.getCheckDigit() }}
                                        </th>
                                        <td class="px-6 py-4">
                                            {{ order.getDate()|date('d/m/Y') }}
                                        </td>
                                        <td class="px-6 py-4">
                                            {{ order.getSwimmingPack().getPrice() }} €
                                        </td>
                                        <td class="px-6 py-4">
                                            {% if order.getStatus() == 'VALIDATED' %}
                                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                                    Payée
                                                </span>
                                            {% elseif order.getStatus() == 'PENDING' %}
                                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                                                    En attente
                                                </span>
                                            {% elseif order.getStatus() == 'CANCELLED' %}
                                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                                                    Annulée
                                                </span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
